<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registrar_Abonadas</servlet-name>
        <servlet-class>Servlets.Registrar_Abonadas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar_Corta_Bultos</servlet-name>
        <servlet-class>Servlets.Registrar_Corta_Bultos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar_Corta_Granel</servlet-name>
        <servlet-class>Servlets.Registrar_Corta_Granel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarD_E_M</servlet-name>
        <servlet-class>Servlets.RegistrarD_E_M</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar_Pajareo</servlet-name>
        <servlet-class>Servlets.Registrar_Pajareo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarBombeo</servlet-name>
        <servlet-class>Servlets.RegistrarBombeo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarCorrido</servlet-name>
        <servlet-class>Servlets.RegistrarCorrido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarGravedad</servlet-name>
        <servlet-class>Servlets.RegistrarGravedad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarSiembraManual</servlet-name>
        <servlet-class>Servlets.RegistrarSiembraManual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarSiembraMecanizada</servlet-name>
        <servlet-class>Servlets.RegistrarSiembraMecanizada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistarIn</servlet-name>
        <servlet-class>Servlets.RegistrarIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar_Fumigas</servlet-name>
        <servlet-class>Servlets.Registrar_Fumigas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarLiquidacion</servlet-name>
        <servlet-class>Servlets.RegistrarLiquidacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarQuemaFisica</servlet-name>
        <servlet-class>Servlets.RegistrarQuemaFisica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarCortaMaleza</servlet-name>
        <servlet-class>Servlets.RegistrarCortaMaleza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarMantenimiento</servlet-name>
        <servlet-class>Servlets.RegistrarMantenimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarQuemaQuimica</servlet-name>
        <servlet-class>Servlets.RegistrarQuemaQuimica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>Servlets.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarLote</servlet-name>
        <servlet-class>Servlets.RegistrarLote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarLotes</servlet-name>
        <servlet-class>Servlets.GuardarLotes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>Servlets.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestablecerC</servlet-name>
        <servlet-class>Servlets.RestablecerC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarClave</servlet-name>
        <servlet-class>Servlets.EnviarClave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignarNuevaC</servlet-name>
        <servlet-class>Servlets.AsignarNuevaC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarPreparacionSuelo</servlet-name>
        <servlet-class>Servlets.RegistrarPreparacionSuelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarIn</servlet-name>
        <servlet-class>Servlets.RegistrarIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetallesTotales</servlet-name>
        <servlet-class>ServletsConsulta.DetallesTotales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAbonada</servlet-name>
        <servlet-class>ServletsConsulta.ServletAbonada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCortaBultos</servlet-name>
        <servlet-class>ServletsConsulta.ServletCortaBultos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCortaGranel</servlet-name>
        <servlet-class>ServletsConsulta.ServletCortaGranel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDespalille</servlet-name>
        <servlet-class>ServletsConsulta.ServletDespalille</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEntresaque</servlet-name>
        <servlet-class>ServletsConsulta.ServletEntresaque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFumigas</servlet-name>
        <servlet-class>ServletsConsulta.ServletFumigas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMacheteada</servlet-name>
        <servlet-class>ServletsConsulta.ServletMacheteada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMantenimiento</servlet-name>
        <servlet-class>ServletsConsulta.ServletMantenimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPajareoCeladuria</servlet-name>
        <servlet-class>ServletsConsulta.ServletPajareoCeladuria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPreparacionSuelo</servlet-name>
        <servlet-class>ServletsConsulta.ServletPreparacionSuelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletQuemaFisica</servlet-name>
        <servlet-class>ServletsConsulta.ServletQuemaFisica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletQuemaQuimica</servlet-name>
        <servlet-class>ServletsConsulta.ServletQuemaQuimica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletResiduos</servlet-name>
        <servlet-class>ServletsConsulta.ServletResiduos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRiego</servlet-name>
        <servlet-class>ServletsConsulta.ServletRiego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSiembraManual</servlet-name>
        <servlet-class>ServletsConsulta.ServletSiembraManual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSiembraMecanizada</servlet-name>
        <servlet-class>ServletsConsulta.ServletSiembraMecanizada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insumos_abonada</servlet-name>
        <servlet-class>ServletsConsulta.insumos_abonada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insumos_fumiga</servlet-name>
        <servlet-class>ServletsConsulta.insumos_fumiga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insumos_mantenimiento_lote</servlet-name>
        <servlet-class>ServletsConsulta.insumos_mantenimiento_lote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlets_insumos_quema_q</servlet-name>
        <servlet-class>ServletsConsulta.servlets_insumos_quema_q</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSession</servlet-name>
        <servlet-class>Servlets.CerrarSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiquidacionDetalles</servlet-name>
        <servlet-class>ServletsConsulta.LiquidacionDetalles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetallesTotal</servlet-name>
        <servlet-class>ServletsConsulta.DetallesTotal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detalles_corta_maleza</servlet-name>
        <servlet-class>ServletsConsulta.Detalles_corta_maleza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAbonada_insumos</servlet-name>
        <servlet-class>ServletsConsulta.ServletAbonada_insumos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarConsultas</servlet-name>
        <servlet-class>ServletsConsulta.EliminarConsultas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuari_adm</servlet-name>
        <servlet-class>servletAdmin.RegistroUsuari_adm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarAdministradorAdmin</servlet-name>
        <servlet-class>servletAdmin.RegistrarAdministradorAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lote</servlet-name>
        <servlet-class>servletAdmin.Lote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminar</servlet-name>
        <servlet-class>servletAdmin.eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarEliminar</servlet-name>
        <servlet-class>servletAdmin.BuscarEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteQuemaQuimica</servlet-name>
        <servlet-class>ServletsReportesPDF.ReporteQuemaQuimica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteQuemaFisica</servlet-name>
        <servlet-class>ServletsReportesPDF.ReporteQuemaFisica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportePreparacionSuelo</servlet-name>
        <servlet-class>ServletsReportesPDF.ReportePreparacionSuelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteCortaMaleza</servlet-name>
        <servlet-class>ServletsReportesPDF.ReporteCortaMaleza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteSiembraMecanizada</servlet-name>
        <servlet-class>ServletsReportesPDF.ReporteSiembraMecanizada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteSiembraManual</servlet-name>
        <servlet-class>ServletsReportesPDF.ReporteSiembraManual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteAbonadas</servlet-name>
        <servlet-class>ServletsReportesPDF.ReporteAbonadas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteFumigas</servlet-name>
        <servlet-class>ServletsReportesPDF.ReporteFumigas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteDespalille</servlet-name>
        <servlet-class>ServletsReportesPDF.ReporteDespalille</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteEntresaque</servlet-name>
        <servlet-class>ServletsReportesPDF.ReporteEntresaque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteMacheteada</servlet-name>
        <servlet-class>ServletsReportesPDF.ReporteMacheteada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportePajareoCeladuria</servlet-name>
        <servlet-class>ServletsReportesPDF.ReportePajareoCeladuria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteRiegos</servlet-name>
        <servlet-class>ServletsReportesPDF.ReporteRiegos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteCortaBultos</servlet-name>
        <servlet-class>ServletsReportesPDF.ReporteCortaBultos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteCortaGranel</servlet-name>
        <servlet-class>ServletsReportesPDF.ReporteCortaGranel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteMantenimiento</servlet-name>
        <servlet-class>ServletsReportesPDF.ReporteMantenimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteLiquidacion</servlet-name>
        <servlet-class>ServletsReportesPDF.ReporteLiquidacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seleccionarLote</servlet-name>
        <servlet-class>Servlets.seleccionarLote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>graficas</servlet-name>
        <servlet-class>Servlets.graficas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraficaAdministrador</servlet-name>
        <servlet-class>Servlets.GraficaAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesionConsulta</servlet-name>
        <servlet-class>Servlets.IniciarSesionConsulta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrar_Abonadas</servlet-name>
        <url-pattern>/Abonadas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar_Corta_Bultos</servlet-name>
        <url-pattern>/Corta_Bultos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar_Corta_Granel</servlet-name>
        <url-pattern>/Corta_Granel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarIn</servlet-name>
        <url-pattern>/insumonuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarD_E_M</servlet-name>
        <url-pattern>/registrarD_E_M</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar_Pajareo</servlet-name>
        <url-pattern>/Pajareo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarBombeo</servlet-name>
        <url-pattern>/Bombeo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarCorrido</servlet-name>
        <url-pattern>/Corrido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarGravedad</servlet-name>
        <url-pattern>/Gravedad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarSiembraManual</servlet-name>
        <url-pattern>/SiembraManual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarSiembraMecanizada</servlet-name>
        <url-pattern>/SiembraMecanizada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar_Fumigas</servlet-name>
        <url-pattern>/Fumigas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarLiquidacion</servlet-name>
        <url-pattern>/Liquidacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarQuemaFisica</servlet-name>
        <url-pattern>/QuemaFisica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarCortaMaleza</servlet-name>
        <url-pattern>/CortaMaleza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarMantenimiento</servlet-name>
        <url-pattern>/Mantenimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarQuemaQuimica</servlet-name>
        <url-pattern>/QuemaQuimica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarLote</servlet-name>
        <url-pattern>/Lote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarLotes</servlet-name>
        <url-pattern>/Lotes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/Iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestablecerC</servlet-name>
        <url-pattern>/RestablecerC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarClave</servlet-name>
        <url-pattern>/EnviarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignarNuevaC</servlet-name>
        <url-pattern>/AsignarNC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarPreparacionSuelo</servlet-name>
        <url-pattern>/RegistrarPS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarIn</servlet-name>
        <url-pattern>/RInsumos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallesTotales</servlet-name>
        <url-pattern>/DetallesTotales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAbonada</servlet-name>
        <url-pattern>/ServletAbonada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCortaBultos</servlet-name>
        <url-pattern>/ServletCortaBultos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCortaGranel</servlet-name>
        <url-pattern>/ServletCortaGranel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDespalille</servlet-name>
        <url-pattern>/ServletDespalille</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEntresaque</servlet-name>
        <url-pattern>/ServletEntresaque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFumigas</servlet-name>
        <url-pattern>/ServletFumigas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMacheteada</servlet-name>
        <url-pattern>/ServletMacheteada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMantenimiento</servlet-name>
        <url-pattern>/ServletMantenimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPajareoCeladuria</servlet-name>
        <url-pattern>/ServletPajareoCeladuria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPreparacionSuelo</servlet-name>
        <url-pattern>/ServletPreparacionSuelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletQuemaFisica</servlet-name>
        <url-pattern>/ServletQuemaFisica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletQuemaQuimica</servlet-name>
        <url-pattern>/ServletQuemaQuimica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletResiduos</servlet-name>
        <url-pattern>/ServletResiduos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRiego</servlet-name>
        <url-pattern>/ServletRiego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSiembraManual</servlet-name>
        <url-pattern>/ServletSiembraManual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSiembraMecanizada</servlet-name>
        <url-pattern>/ServletSiembraMecanizada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insumos_abonada</servlet-name>
        <url-pattern>/insumos_abonada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insumos_fumiga</servlet-name>
        <url-pattern>/insumos_fumiga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insumos_mantenimiento_lote</servlet-name>
        <url-pattern>/insumos_mantenimiento_lote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlets_insumos_quema_q</servlet-name>
        <url-pattern>/servlets_insumos_quema_q</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSession</servlet-name>
        <url-pattern>/Session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiquidacionDetalles</servlet-name>
        <url-pattern>/LiquidacionDetalles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallesTotal</servlet-name>
        <url-pattern>/DetallesTotal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detalles_corta_maleza</servlet-name>
        <url-pattern>/Detalles_corta_maleza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAbonada_insumos</servlet-name>
        <url-pattern>/ServletAbonada_insumos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarConsultas</servlet-name>
        <url-pattern>/EliminarConsultas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuari_adm</servlet-name>
        <url-pattern>/RegistroUsuari</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarAdministradorAdmin</servlet-name>
        <url-pattern>/RegistrarAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lote</servlet-name>
        <url-pattern>/selectlote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminar</servlet-name>
        <url-pattern>/eliminarU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarEliminar</servlet-name>
        <url-pattern>/Buscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteQuemaQuimica</servlet-name>
        <url-pattern>/ReporteQuemaQuimica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteQuemaFisica</servlet-name>
        <url-pattern>/ReporteQuemaFisica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportePreparacionSuelo</servlet-name>
        <url-pattern>/ReportePreparacionSuelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteCortaMaleza</servlet-name>
        <url-pattern>/ReporteCortaMaleza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteSiembraMecanizada</servlet-name>
        <url-pattern>/ReporteSiembraMecanizada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteSiembraManual</servlet-name>
        <url-pattern>/ReporteSiembraManual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteAbonadas</servlet-name>
        <url-pattern>/ReporteAbonadas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteFumigas</servlet-name>
        <url-pattern>/ReporteFumigas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteDespalille</servlet-name>
        <url-pattern>/ReporteDespalille</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteEntresaque</servlet-name>
        <url-pattern>/ReporteEntresaque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteMacheteada</servlet-name>
        <url-pattern>/ReporteMacheteada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportePajareoCeladuria</servlet-name>
        <url-pattern>/ReportePajareoCeladuria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteRiegos</servlet-name>
        <url-pattern>/ReporteRiegos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteCortaBultos</servlet-name>
        <url-pattern>/ReporteCortaBultos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteCortaGranel</servlet-name>
        <url-pattern>/ReporteCortaGranel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteMantenimiento</servlet-name>
        <url-pattern>/ReporteMantenimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteLiquidacion</servlet-name>
        <url-pattern>/ReporteLiquidacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seleccionarLote</servlet-name>
        <url-pattern>/lote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>graficas</servlet-name>
        <url-pattern>/graficas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraficaAdministrador</servlet-name>
        <url-pattern>/GraficaAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesionConsulta</servlet-name>
        <url-pattern>/SesionConsulta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
