
/* // background-color:RGBA(245,178,53,0.2)//
    Created on : 6/09/2016, 08:18:32 PM
    Author     : kelly
*/

body{
    background-image: url(../ImagenesR/bg-body.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;   
}

.fondoS{
	background-image: url(../imagenes/bg-body.jpg);
	position:absolute;
	height: 500px;
	width:100%;
	margin-top: -19px
}

div#toplogo {
	position:fixed;
	float:left;
	z-index:1001;
}

div#toplogo h1#logo a {
	display:block;
	text-indent:-10000px;
	width:290px;
	height:160px;
	margin-left:0%;
	background:url(../imagenes/logo.png) no-repeat center -4px;
	-webkit-transition: background-position .2s ease;
	-moz-transition: background-position .2s ease;
	-o-transition: background-position .2s ease;
	transition: background-position .2s ease;
}

div#toplogo h1#logo a:hover {
	background-position:center top;
}

div#wrapper {
	width:980px;
	margin:0 auto;
	min-height:400px; 
} 

.wrapper2 {
	width:1000px;
	height:100%;
	margin:0 auto;
}

div#toplogo {
	position:fixed;
	float:left;
	z-index:1001;
}

body {
   background-image: url(../imagenes/bg-body.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0px;
}

.logo {
	text-indent:-10000px;
	width:290px ;
	height:160px ;
	position:fixed;
	z-index:101;
	left:10px;
}

header {
	background:url(../imagenes/bg-nav.png) repeat-x ;
	min-height:70px;
	width:100%;
	position:fixed;
	z-index:100;
	left:0px;
	}


nav{
	float:right;
	color:white;
	margin:0px 0;
	height:30px;	
	
}
nav ul{
	 list-style:none outside;
	 overflow:hidden;
	
}

nav ul li {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	text-decoration:none;
	 
}

nav ul li a {
	display:block;
	padding:20px;
	color:#FFF;
	text-decoration:none;
	font-size: 14px;
	text-align: justify;
    	
}
nav ul li :hover {
	background:#CCC;
	
}

.form-gravedad{
    width: 107%;
    text-align:center;
    max-width: 500px;
    margin: auto;
    background-color: RGBA(245,178,53,0.2);
    padding: 10px 10px;
    border: solid 1.5px;
    margin-top: 450px;
    border-radius: 50px;
    display: table;
    flex-wrap: wrap;
    
}

.form-Corrido{
    width: 107%;
    text-align:center;
    max-width: 500px;
    margin: auto;
    background-color: RGBA(245,178,53,0.2);
    padding: 10px 10px;
    border: solid 1.5px;
    margin-top: 450px;
    border-radius: 50px;
    display: table;
    flex-wrap: wrap;
    text-align: center; /*me centra fecha inpunt*/ 
    
}

.form-Bombeo{
    width: 107%;
    text-align:center;
    max-width: 500px;
    margin: auto;
    background-color: RGBA(245,178,53,0.2);
    padding: 10px 10px;
    border: solid 1.5px;
    margin-top: 450px;
    border-radius: 50px;
    display: table;
    flex-wrap: wrap;
}
    
.titulo{
    text-align: center;
    margin: 0;
}



img{
    display: block;
    max-width: 100%;
}


/*clase botones*/
.botones-c{
   height: 60px;
   position: relative;
   padding: 1em 3em 3em;
}

/*boton 1*/
.botones-c .botones-c1{
    text-align: center;
    position: absolute;
}

/*boton 2*/
.botones-c .botones-c2{
    text-align: center;
    position: absolute;
    right: 0;
    padding-right: 4em;
}

/*ancho de botones guardar y cerrar */
.inputboton{
    width: 80px;
}


.textbox{
  width: 100%;
  margin-bottom: 50px;
  position: relative;
  border: 0;
  display: flex;
  font-size: 14px;
  padding: 8px 30px 10px 10px;
  border-radius: 5px;
  background: #fff;
  background-color: #f9f9f9;
  margin: auto;
  border-bottom: 20px;
  padding: 5px;

   }
   
.textbox:focus
  {
  color: #2E3133;
  border-color: #FBFFAD;
  }
  
.textbox-2{
      width: 60%;
      margin-bottom: 50px;
      position: relative;
      border: 0;
      display: flex;
      font-size: 14px;
      padding: 8px 30px 10px 10px;
      border-radius: 5px;
      background: #fff;
      background-color: #f9f9f9;
      margin: auto;
      border-bottom: 20px;
      padding: 5px;
  }
  
  
  .texto-letra {
    text-align:center;
    margin-left: auto;
    width:100%;
    font-size:12px;
    margin-left:  -5%;
  }
  
ul, ol { /*le quita el estilo de los puntos al menu */
list-style:none;
}
			
.menu-horizontal li a	{
        height:1px;
        width:100%;
        background-color:#E0E0E0;
        color: #FFF;
        text-decoration:none;
        padding:9px;
        display:block;
        border-radius:50px;
}

.menu-horizontal li a:hover {
        background: rgb(117,210,232);
}

.menu-horizontal > li {
       
        margin-top: -10px;
        width:26%;
        padding: 6.5px;
        display: inline-block;
       
}

@media (max-width: 500px) {
    
form{
    width: 50px;
    max-height: 50px;
}
}

@media (max-width: 500px){
 form   {
     width: 50%;
     height: 50%;
    }
}

#pie_paginaSesion{
            background:url(../imagenes/bg-footer.png) repeat-x;
            margin-top: 15%;
            height: 200px;
      }

.textbox-f-t{
  width: auto;
  margin-bottom: 50px;
  position: relative;
  border: 0;
  display: flex;
  font-size: 14px;
  font-family: Arial, Verdana;
  padding: 8px 30px 10px 10px;
  border-radius: 5px;
  background:url(../imagenes/input-bg.png) #fff;
  background-color: #f9f9f9;
  margin: auto;
  border-bottom: 20px;
  padding: 5px;
   }
   
.textbox-f-t:focus{
  color: #2E3133;
  border-color: #FBFFAD;
  }
  
  .textbox{
  width: 70%;
  margin-bottom: 50px;
  position: relative;
  border: 0;
  display: flex;
  font-size: 14px;
  font-family: Arial, Verdana;
  padding: 8px 30px 10px 10px;
  border-radius: 5px;
  background:url(../imagenes/input-bg.png) #fff;
  background-color: #f9f9f9;
  margin: auto;
  border-bottom: 20px;
  padding: 5px;
   }
   
.textbox:focus{
  color: #2E3133;
  border-color: #FBFFAD;
  }
  
.cont-inputs{
    margin-top: 120px;
    text-align: center;  
     margin-left: 8%;
    position: relative;
    padding-bottom: 20px;
}
.cont-inputs input:first-of-type{
    margin-right: 5em;
}
.cont-inputs input:last-of-type{
    margin-left:1em;
}

.agregar-insumo{ 
      margin-top: 10%; 
      margin-bottom:90px;
      background-color: rgb(254, 177, 0);
      color: white;
      width: 20%;
      border-radius: 5px;
      border-color: rgb(255, 197, 0);
      padding: 6px;
      cursor: pointer; 
  }

#texto-letra {
    text-align:center;
    margin:auto;
    width:600px;
}
		
ul, ol { /*le quita el estilo de los puntos al menu */
    list-style:none;
}
			
.menu-horizontal li a	{
    height:1px;
    width:162px;
    background-color:#E0E0E0;
    color:#FFF;
    text-decoration:none;
    padding:10px 15px;
    display:block;
    border-radius:50px;
}

.menu-horizontal li a:hover {
    background-color:#CCC;
}
		
.menu-horizontal > li {
    float:left;
}